attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
cachelib==0.7.0; python_version >= "3.7"
certifi==2022.5.18.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7"
click==8.1.3; python_version >= "3.7"
clickclick==20.10.2; python_version >= "3.6"
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
connexion==2.13.1; python_version >= "3.6"
flask-caching==1.11.1; python_version >= "3.7"
flask==2.1.2; python_version >= "3.7"
gunicorn==20.1.0; python_version >= "3.5"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
importlib-metadata==4.11.4; python_version < "3.10" and python_version >= "3.7"
inflection==0.5.1; python_version >= "3.6"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.7"
joblib==1.1.0; python_version >= "3.8"
jsonify==0.5
jsonschema==4.6.0; python_version >= "3.7"
llvmlite==0.38.1; python_version >= "3.7" and python_version < "3.11"
markupsafe==2.1.1; python_version >= "3.7"
numba==0.55.2; python_version >= "3.7" and python_version < "3.11"
numpy==1.21.6; python_version >= "3.7" and python_version < "3.11"
packaging==21.3; python_version >= "3.6"
pandas==1.4.2; python_version >= "3.8"
pillow==9.1.1; python_version >= "3.7"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
pytz==2022.1; python_version >= "3.8"
pyyaml==6.0; python_version >= "3.6"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
scikit-learn==1.1.1; python_version >= "3.8"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
swagger-ui-bundle==0.0.9; python_version >= "3.6"
threadpoolctl==3.1.0; python_version >= "3.8"
torch==1.11.0; python_full_version >= "3.7.0"
torchvision==0.12.0; python_version >= "3.7"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.7.0"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
werkzeug==2.1.2; python_version >= "3.7"
xgboost==1.6.1; python_version >= "3.7"
zipp==3.8.0; python_version < "3.10" and python_version >= "3.7"
